<div class="container">
  <div class="d-md-flex justify-content-center align-items-center">
    <form (ngSubmit)="login(username.value, password.value)">
      <div class="d-flex flex-column align-items-center">
        <div>
          <fa-icon [icon]="maleIcon" size="5x"></fa-icon>
        </div>
        <div class="input-group mt-5 mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
              <fa-icon [icon]="userIcon"></fa-icon>
            </span>
          </div>
          <input
          type="text"
          name="username"
          id="username"
          placeholder="username"
          class="form-control"
          aria-describedby="basic-addon1"
          #username>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon2">
              <fa-icon [icon]="lockIcon"></fa-icon>
            </span>
          </div>
          <input
          type="password"
          name="password"
          id="password"
          placeholder="password"
          class="form-control"
          aria-describedby="basic-addon2"
          #password>
        </div>
        <button class="btn btn-md btn-primary mt-3">Login</button>
      </div>
    </form>
  </div>
</div>
