
<div class="row align-items-center mx-1" style="margin-top: 6px;">
  <tenant-office class="col"></tenant-office>
  <h4 class="component-title highlighted-text col pt-2 text-center">Запит на акт звірки</h4>
  <div class="col"></div>
</div>
<div class="table-content container">
  <table class="table table-light table-striped">
    <tbody>
      <tr>
        <td>Дата "з"</td>
        <td></td>
      </tr>
      <tr>
        <td>Дата "до"</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
