
<div class="row align-items-center mx-1">
  <tenant-office class="col"></tenant-office>
  <h4 class="component-title highlighted-text col pt-2 text-center">Договір</h4>
  <div class="col"></div>
</div>
<div class="content">
  <div class="table-responsive">
    <table class="table table-striped table-light table-bordered border-light mb-0">
      <thead>
        <tr>
          <th scope="col" class="align-middle text-center">Номер</th>
          <th scope="col" class="align-middle text-center">Дата договору</th>
          <th scope="col" class="align-middle text-center">Строк дії</th>
          <th scope="col" class="align-middle text-center">Скачати Договір</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let agreement of agreement$ | async">
          <td class="align-middle text-center">{{ agreement.key }}</td>
          <td class="align-middle text-center">{{ agreement.payload.val().date }}</td>
          <td class="align-middle text-center">{{ agreement.payload.val().validUntil }}</td>
          <td class="align-middle text-center">
            <a href="#">
              {{ agreement.payload.val().link }}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
