<div class="row">
  <h4 class="component-title highlighted-text col-8">Рахунки та акти</h4>
  <select class="form-select cal-4" aria-label="Default select example">
    <option selected>Open this select menu</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
</div>
<div class="table-content">
  <div class="new-docs">
    <button class="btn btn-orange text-icon-color">Новий рахунок</button>
    <button class="btn btn-orange text-icon-color">Новий акт</button>
    <button class="btn btn-orange text-icon-color">Акт звірки</button>
  </div>
  <button type="button" class="btn btn-nav">
    <div class="d-flex">
      <div class="up"></div>
      2020
    </div>
  </button>
  <table class="table table-striped mb-0">
    <thead class="table-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-nav">
    <div class="d-flex">
      <div class="down"></div>
      2019
    </div>
  </button>
</div>
