
h4
  margin-bottom: 0

.form-select
  min-width: 16em

.row
  margin-top: 6px

table
  background-color: #ffffff

.table-content
  margin-top: 1em

button
  margin: 16px 8px

.btn.btn-orange.text-icon-color
  border: 2px solid rgb(94, 94, 94)
  border-radius: 14px
