
<div class="row align-items-center mx-1">
  <tenant-office class="col"></tenant-office>
  <h4 class="component-title highlighted-text col pt-2 text-center">Інформація про клієнта</h4>
  <div class="col"></div>
</div>
<div class="content">
  <table class="table table-light table-striped table-bordered w-50">
    <thead>
      <tr>
        <th class="text-center">Назва підприємства</th>
        <th class="text-center">
          ТОВ "BEST SOLUTIONS"
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center">Керівник</td>
        <td class="text-center">
          Карпенко Петро
        </td>
      </tr>
      <tr>
        <td class="text-center">Телефон керівника</td>
        <td class="text-center">
          +380504506889
        </td>
      </tr>
      <tr>
        <td class="text-center">ЄДРПОУ</td>
        <td class="text-center">
          570234220
        </td>
      </tr>
      <tr>
        <td class="text-center">Контактна персона</td>
        <td class="text-center">
          Мальована Марина
        </td>
      </tr>
      <tr>
        <td class="text-center">Телефон</td>
        <td class="text-center">
          +380663407592
        </td>
      </tr>
      <tr>
        <td class="text-center">email</td>
        <td class="text-center">
          bestsolutions@gmail.com
        </td>
      </tr>
      <tr>
        <td class="text-center">Виписка</td>
        <td class="text-center">
          <a href="#">Виписка із держреєстру 570234220.jpg</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
