
<div class="row align-items-center mx-1">
  <tenant-office class="col"></tenant-office>
  <h4 class="component-title highlighted-text col pt-2 text-center">Інформація про клієнта</h4>
  <div class="col"></div>
</div>
<div class="content">
  <table class="table table-light table-striped table-bordered">
    <thead>
      <tr>
        <th class="text-center">Назва підприємства</th>
        <th class="text-center">
          {{ tenant.name }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center">Керівник</td>
        <td class="text-center">
          {{ tenant.ceo }}
        </td>
      </tr>
      <tr>
        <td class="text-center">Телефон керівника</td>
        <td class="text-center">
          {{ tenant.ceoPhoneNum }}
        </td>
      </tr>
      <tr>
        <td class="text-center">ЄДРПОУ</td>
        <td class="text-center">
          {{ tenant.code }}
        </td>
      </tr>
      <tr>
        <td class="text-center">Контактна персона</td>
        <td class="text-center">
          {{ tenant.representative }}
        </td>
      </tr>
      <tr>
        <td class="text-center">Телефон</td>
        <td class="text-center">
          {{ tenant.phoneNum }}
        </td>
      </tr>
      <tr>
        <td class="text-center">email</td>
        <td class="text-center">
          {{ tenant.email }}
        </td>
      </tr>
      <tr>
        <td class="text-center">Виписка</td>
        <td class="text-center">
          <a href="#">
            {{ tenant.snapshotStateRepo }}
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
