
<h4 class="text-center title"> ТОВ "Якесь ТОВ" </h4>
<div class="list-group list-group-flush">
  <a
    routerLink="/bills-acts"
    class="list-group-item list-group-item-action active"
    [class.active]="getRoute() === '/bills-acts'">
    <div class="row">
      <fa-icon [icon]="invoices" size="2x" class="col-3 icon-color"></fa-icon>
      <div class="col-9 d-flex align-items-center">
        <span>Рахунки та Акти</span>
      </div>
    </div>
  </a>
  <a
    routerLink="/bills-schedule"
    class="list-group-item list-group-item-action"
    [class.active]="getRoute() === '/bills-schedule'">
    <div class="row">
      <fa-icon [icon]="calendar" size="2x" class="col-3"></fa-icon>
      <div class="col-9 d-flex align-items-center">
        <span>Графік платежів</span>
      </div>
    </div>
  </a>
  <a
    routerLink="/agreements"
    class="list-group-item list-group-item-action"
    [class.active]="getRoute() === '/agreements'">
    <div class="row">
      <fa-icon [icon]="documents" size="2x" class="col-3"></fa-icon>
      <div class="col-9 d-flex align-items-center">
        <span>Договір</span>
      </div>
    </div>
  </a>
  <a
    routerLink="/submissions"
    class="list-group-item list-group-item-action"
    [class.active]="getRoute() === '/' || getRoute() === '/submissions'">
    <div class="row">
      <fa-icon [icon]="questions" size="2x" class="col-3"></fa-icon>
      <div class="col-9 d-flex align-items-center">
        <span>Звернення</span>
      </div>
    </div>
  </a>
  <a
    routerLink="/profile"
    class="list-group-item list-group-item-action"
    [class.active]="getRoute() === '/profile'">
    <div class="row">
      <fa-icon [icon]="profile" size="2x" class="col-3"></fa-icon>
      <div class="col-9 d-flex align-items-center">
        <span>Профіль</span>
      </div>
    </div>
  </a>
</div>
