.list-group-item-action:hover
  background-color: #f8f9fa20
  color: rgb(196, 50, 63)
  & fa-icon
    color: #495057

fa-icon
  text-align: center

.list-group-item
  background-color: #ffffff00
  border: 1px solid rgba(0, 0, 0, 0)
  font-weight: bold

.title
  color: rgb(179, 56, 73)
